<?xml version="1.0" ?>
<model>
    <name>workspace</name>
    <version>1.0</version>
    <sdf version="1.6">model.sdf</sdf>
    <author>
        <name>Tejaswi Digumarti</name>
        <email>tejaswi.digumarti@sydney.edu.au</email>
    </author>
    <description>The robot workspace</description>
</model>
